.button {
  background-color: rgb(53, 193, 53);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
}

.addColumnButton{
  display: flex;
  align-items: center;
  gap: 5px;
}

.modalContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
  align-items: center;
}

.modalContent .addColumnModalButton {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 14px;
  width: 100%;
}

.modalContent .addColumnModalButton:hover {
  background-color: #333;
  cursor: pointer;
}

.modalContent input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

.modalContent .addColumnModalButton:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}