.header {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 10px;
  gap: 20px;
}

.boardContainer{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}